#nav-container {
    width: 100%;
    padding: 1em 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05); /* Jemný stín pod navbarem */
}

#nav-container nav {
    justify-content: space-between;
}

/* Logo část */
.nav-logo div img {
    height: 2.5em;
    margin-right: 10px;
}

.nav-logo h1 {
    font-weight: 100;
    font-size: 2.2em;
}

/* Odkazy uprostřed */
#hrefs a {
    margin: 0 1.2em;
    font-size: 1.2em;
    font-weight: 300;
    transition: 0.2s;
}

#hrefs a:hover {
    color: orange;
}

/* Ikony vpravo (košík, účet) */
.nav-icons {
    gap: 1.5em;
}

.nav-icons img {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.nav-icons .cart-icon {
    height: 2.5em;
}

.nav-icons .user-icon {
    height: 2em;
}

.nav-icons img:hover {
    transform: scale(1.15);
}
