@import "global.css";

#first-page {
    width: 100%;
    height: 30em;
    background: #cf2929;
    background: var(--gradient);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first-page h1 {
    font-size: 4em;
}

#first-page p {
    font-size: 1.5em;
    margin-bottom: 2em;
}

#first-page a {
    padding: 0.7em 2em;
    border-radius: 10px;
    color: white;
    border: solid 3px white;
    font-size: 1.1em;
    cursor: pointer;
    background-color: transparent;
    transition: 0.1s;
}

#first-page a:hover {
    transition: 0.1s;
    background: white;
    color: orange;
    /* transform: scale(105%, 95%); */
}

#first-page a:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#products-h1 {
    margin: 1em 0 0.5em 0;
    text-align: center;
    font-size: 5em;
    font-weight: 100;
}

#products-nav {
    text-align: center;
}

#products-nav a {
    font-size: 1.5em;
    margin: 0 2em;
    font-weight: 100;
    transition: 0.1s;
    cursor: default;
}

#products-nav a:hover {
    text-shadow: 0.5px 0 0 black, -0.5px 0 0 black;
    transition: 0.1s;
}

#products-nav:hover > :not(:hover)  {
    opacity: 0.4;
    transition: 0.1s;
}

#cards-container {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: rgb(37, 37, 37);
    padding: 5em 0;
    margin: 5em 0;
    color: white;
}

footer h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.5em;
}

footer #hrefs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #hrefs a {
    color: white;
}

footer h2 {
    margin: 3em 0 1em 0;
    text-align: center;
}

#socials {
    display: flex;
    justify-content: center;
}

footer img {
    height: 1.5em;
    margin: 0 0.6em;
}

footer p {
    margin-top: 4em;
    color: rgb(141, 141, 141);
    text-align: center;
}